@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.svg-inline--fa {
  cursor: pointer;
}

#Logo {
  display: inline-table;
  justify-self: center;
}

#Logo img {
  transform: scale(0.8);
}

#menu_desplegable {
  position: fixed;
  background: #fff;
  width: 70%;
  left: -70%;
  display: table;
  height: 100vh;
  -webkit-transition: left 0.4s ease;
  -moz-transition: left 0.4s ease;
  -o-transition: left 0.4s ease;
  transition: left 0.4s ease;
  overflow-y: scroll;
}

#principal_mobile_list li > ul {
  overflow: hidden;
  max-height: 0px;
  z-index: 4;
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}

#principal_mobile_list {
  margin-top: 50px;
  z-index: 6;
}

#principal_mobile_list > li {
  border-bottom: #2E2E2E 1px groove;
}

#principal_mobile_list > li > a{
  position: relative;
}

#principal_mobile_list li {
  text-align: center;
}

#principal_mobile_list li a {
  text-transform: uppercase;
  line-height: 3em;
  display: block;
}

.fa-times-circle {
  font-size: 24px;
  float: right;
  margin: 12px;
}

.fa-caret-right {
  position: absolute;
  left: 25%;
  top: 49%;
  margin-top: -9px;
}

.rotate {
  -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-bell, .fa-user {
  font-size: 28px;
}

[id$="O"]:first-child {
  padding-left: 30px;
}

[id$="O"] {
  line-height: 4em;
  padding: 0 10px;
}

header {
  display: grid;
  background: #fff;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 55px;
  align-items: center;
  -webkit-box-shadow: 0 0 2px 10px #333333;
  box-shadow: 0 0 10px 2px #333333;
  width: 100%;
  z-index: 10;
  position: relative;
}

header > div:not(:last-child) {
  display: inline-table;
}

#lupa {
  justify-self: end;
}

.fa-bars, .fa-search {
  padding: 0px 20px;
}

#buscador {
  background: #737373;
  overflow: hidden;
  position: relative;
  z-index: 5;
  -webkit-transition: max-height .20s ease, padding .10s ease;
  -moz-transition: max-height .20s ease, padding .10s ease;
  -o-transition: max-height .20s ease, padding .10s ease;
  transition: max-height .20s ease, padding .10s ease;
}

#buscador input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 3px calc(2% + 13px) 3px 20px;
}

#buscador button {
  position: absolute;
  background: transparent;
  border: none;
  top: 9px;
  right: calc(2% + 3px);
}

#buscador .fa-times {
  font-size: 16px;
}

input[type="text"]:not(:valid) ~ .cancel-search {
	display: none;
}

body {
  z-index: 0;
}

*, *:focus {
  outline: none;
}

footer {
  padding-top: 20px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, minmax(60px, auto));
	grid-auto-rows: 60px;
	background: #1a1a1a;
	justify-items: center;
	align-items: center;
}

footer > ul:first-child {
	grid-column: span 1;
	justify-self: start;
	margin-left: 17.48%;
}

footer > ul:nth-child(2) {
	grid-column: 2 / 3;
	justify-self: end;
	margin-right: 17.48%;
}

footer > ul:last-child {
	grid-column: span 2;
}

footer > ul a {
	color: #fff;
	cursor: pointer;
}

footer > ul:first-child a {
	font-size: 0.8em;
	text-transform: uppercase;
}

footer > ul:nth-child(2) a {
  font-size: 1.4em;
}

footer > ul:last-child li {
	display: inline-block;
}

footer > ul:last-child a {
	font-size: 0.6em;
}

footer > ul li {
	padding: 7px;
}

footer li img {
	height: 23px;
	margin: 0 0 -7px -8px;
}
